:root {
    --primary-font: sans-serif;
    --secondary-font: verdana;
    /* color scheme */
    --primary-color: #ffd86b;
    --secondary-color: #b71c1c;
    --accent-color: #414042;
    --2nd-accent-color: #d50000;
    --impt-color: tan;
    /* HEADING FONT SIZES */
    --hero-headings: 68px;
    /* SUB HEADING SIZE */
    --sub-heading: 48px;
    /* H3 to H6  */
    --small-headings: 36px;
    /* EXTRA small headings */
    --extrasmall-headings: 28px;
    /* buttons text sizes */
    --btn-size: 18px;
    /* body text sizes */
    --body-text: 16px;
    /* small text sizes */
    --small-text: 12px;
    /****************      Brand colors       **********************/
    --brand-dark-color: #000000;
}

/* UNIVERSAL SETTINGS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* STYLING BODY */
body {
    background-color: var(--primary-color);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* MAIN SECTION STYLING */
main {
    margin: 0 80px;
}

/* HEADER STYLING */
header {
    padding-top: 45px;
    display: flow-root; 
    /* border: 2px solid blue; */
    /* box-sizing: border-box; */
    margin: 0 30px;
}

/* LOGO TITLE STYLING */
div.logo {
    float: left;
    /*    margin-right: 190px;*/
    /* border: 2px solid white; */
}

div.logo>h2 {
    font-family: var(--primary-font);
    font-size: var(--small-headings);
    color: var(--secondary-color);
}

/* NAVIGATION STYLING */
nav {
    float: left;
    padding: 14px 0 14px 350px;
    text-transform: uppercase;
}

/* UL AND LI STYLING */
nav ul {
    list-style: none;
    padding-inline-start: 0;
}

nav ul li {
    display: inline-block;
    font-family: var(--secondary-font);
    padding: 0 5px;
}

nav ul li a {
    text-decoration: none;
    color: var(--secondary-color);
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: var(--secondary-color);
    color: wheat;
}

/****************    NAVIGATION FOR MOBILE   **********************/
div.mobile_nav_container {
    position: relative;
    /*    border: 2px solid blue;*/
    top: -35px;
    right: 0px;
}

div.mobile_nav>label {
    position: absolute;
    z-index: 1;
    right: 20px;
    top: 7px;
    font-size: 30px;
    color: var(--secondary-color);
}

div.mobile_nav input[type="checkbox"]:checked~label>i {
    color: var(--primary-color);
}

div.mobile_nav>input[type="checkbox"] {
    position: absolute;
    top: -70px;
    right: 0;
}

div.nav_links {
    width: 250px;
    height: 100vh;
    padding: 20px 30px;
    border: 2px solid brown;
    background-color: var(--secondary-color);
    text-align: center;
    position: absolute;
    right: -280px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;   
}

div.nav_links ul {
    list-style: none;
    padding-top: 40px;
}

div.nav_links ul>li {
    margin-bottom: 12px;
}

div.nav_links ul>li>a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: bold;
    font-family: var(--primary-font);
    width: 100%;
    display: inline-block;
    background-color: var(--primary-color);
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 5px;
}

div.nav_links>ul>li>a>i {
    padding-left: 5px;
}

/* STYLING DONATE BUTTON */
div.donate_btn {
    float: right;
    padding: 15px 0 0;
}

div.donate_btn>span {
    padding: 10px;
    background-color: var(--secondary-color);
    color: wheat;
    font-weight: 600;
    font-family: var(--secondary-font);
    border-radius: 5px;
}

/* STYLING SPACING DIV */
div.spacing_for_searchbar {
    clear: both;
    margin-bottom: 20px;
}

/* STYLING SEARCH BAR */
div.search_bar {
    font-family: var(--secondary-font);
    /* clear: left; */
    background-color: white;
    display: flow-root;
    border-radius: 30px;
}

div.search_bar>input[type="text"] {
    width: 90%;
    margin: 10px 0 10px 10px;
    padding: 10px 0 10px 10px;
    border: none;
    outline: none;
    font-size: var(--body-text);
    color: var(--secondary-color);
    border-radius: 30px;
}

/* input[placeholder="find"] {
  color: var(--secondary-color);
} */
div.search_bar>span {
    float: right;
    color: var(--secondary-color);
    font-size: var(--body-text);
    margin: 20px 20px 20px 0;
}

/********************   STYLING HERO SECTION    **********************/
section.hero-section {
    padding: 90px 0;
    display: flow-root;
    font-family: var(--primary-font);
}

/* HERO TEXT AREA STYLING */
div.hero_text_area {
    float: left;
    /*    border: 2px solid blue;*/
    width: 50%;
    height: 350px;
}

/* styling hero title */
div.hero_text_area>h1 {
    font-size: var(--hero-headings);
    color: var(--accent-color);
    font-weight: bold;
    line-height: 0.9;
}

div.hero_text_area>h1>span {
    color: var(--secondary-color);
    font-weight: 900;
}

div.hero_text_area>h2 {
    font-size: var(--extrasmall-headings);
    padding: 25px 0 15px 0;
    color: var(--accent-color);
    font-weight: 600;
}

/* STYLING CTA buttons for donate now */
div.hero_text_area>button {
    border: none;
    padding: 15px 30px;
    font-size: var(--body-text);
    font-weight: 700;
    border-radius: 30px;
    border: 3px solid black;
    background: var(--secondary-color);
    color: var(--primary-color);
}

/* STYLING HERO IMAGE PART */
div.hero_image_area {
    float: left;
    width: 50%;
    text-align: center;
    min-height: 350px;
    /*    border: 2px solid green;*/
}

div.hero_image_area>img {
    max-width: 350px;
}

/****************************    EVENTS SECTION STYLING    **********************************/
section.events_section {
    /*  border: 2px solid white;*/
    padding: 0 0 40px 0;
}

section.events_section>h2,
h4 {
    font-family: var(--secondary-font);
}

section.events_section>h2 {
    padding: 0 0 15px 0;
    font-size: var(--small-headings);
    color: var(--secondary-color);
}

section.events_section>h4 {
    font-size: var(--body-text);
    padding-bottom: 25px;
}

/************* STYLING CARDS PART *************/
div.cards_row {
    display: flow-root;
    padding: 20px 0;
}

/* UNIVERSAL SETTINGS FOR EVERY CARD */
div.cards {
    float: left;
    width: 32.33%;
    border: 3px solid black;
    border-radius: 8px;
}

div.cards:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

div.card_2 {
    margin: 0 1.5%;
}

/* STYLING UPPER PART OF CARD */
div.card_upper_part {
    display: flow-root;
}

div.number_of_card,
div.card_title_sec {
    float: left;
}

div.number_of_card {
    width: 30%;
    text-align: center;
    padding: 80px 0 30px 0;
    font-family: var(--primary-font);
    /*    background-color: var(--secondary-color);*/
}

div.card_title_sec {
    width: 70%;
    padding: 10px 0;
}

/* STYLING UPPER PART INSIDE CONTENT LEFT PART */

div.number_of_card h2 {
    font-size: var(--hero-headings);
    padding: 0 0 10px 0;
    color: var(--accent-color);
}

div.number_of_card>p {
    color: var(--accent-color);
    font-weight: bold;
}

/* STYLING UPPPER PART INSIDE CONTENT RIGHT PART */
div.card_title_sec>h2 {
    text-align: center;
    font-size: var(--extrasmall-headings);
    font-family: var(--secondary-font);
    padding: 7px 0 10px 0;
    color: var(--secondary-color);
}

div.card_title_sec>p {
    font-size: var(--body-text);
    font-family: var(--primary-font);
    line-height: 1.3;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

/********* STYLING LOCATION PART ************/
div.location_part {
    clear: left;
    /*    border: 2px solid blue;*/
    display: flow-root;
}

div.location_alignment {
    display: flow-root;
}

div.icon_left_float {
    float: left;
}

div.icon_right_float {
    float: right;
}

div.clear_icons_float {
    clear: both;
    display: flow-root;
}

/* styling icons and address in LOCATION PART */
div.icon_left_float>span>i {
    padding: 10px 10px 10px 20px;
    color: var(--secondary-color);
}

div.icon_right_float>p {
    padding: 10px;
    font-family: var(--primary-font);
    font-weight: bold;
    color: var(--secondary-color);
}

/************************   TESTIMONIAL SECTON STYLING  *****************/
section.testimonial {
    padding: 80px 0 120px 0;
    /*  border: 2px solid violet;*/
}

/* styling testimonial container */
div.testimonial_container {
    display: flow-root;
    height: 468px;
    /*  border: 2px solid cyan;*/
}

div.text_left_section {
    float: left;
    width: 50%;
    /*  border: 4px solid whitesmoke;*/
    min-height: 100%;
}

h1.testimonial_title {
    font-size: var(--hero-headings);
    font-family: var(--primary-font);
    color: var(--accent-color);
    padding: 0 3px;
    border: 3px solid var(--accent-color);
    display: inline-block;
}


div.testimonial_quotation {
    padding: 90px 0 0;
}

div.testimonial_quotation>h2 {
    font-size: var(--sub-heading);
    font-family: var(--secondary-font);
    color: var(--accent-color);
    padding-left: 50px;
    font-weight: bold;
}

div.testimonial_quotation>h2>span {
    color: var(--secondary-color);
}

div.testimonial_quotation span:nth-child(odd)>i {
    font-size: var(--extrasmall-headings);
    color: var(--secondary-color);
}

div.testimonial_quotation span:nth-child(3) {
    margin-left: 520px;
}

div.testimonial_image_right_part {
    float: left;
    width: 50%;
    text-align: center;
    min-height: 100%;
    /*  border:2px solid whitesmoke;*/
}

div.testimonial_image_right_part>img {
    width: 50%;
    padding: 40px 0 0;
}

/**********  STYLING REVIEW CARDS   ****************/
/* Review card left side styling */
div.testimonial_review_container {
    display: flow-root;
}

div.review_card {
    width: 32.33%;
    float: left;
    /*    border: 3px solid var(--accent-color);*/
    padding: 40px 20px 40px 0;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.19);
}

div.review_left_part {
    float: left;
    width: 30%;
    padding: 45px 0 10px 20px;
}

div.review_left_part>img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

div.review_left_part>p {
    display: inline-block;
    padding: 5px 0 0 6px;
    font-family: var(--secondary-font);
    font-size: var(--small-text);
    font-weight: bolder;
    color: var(--secondary-color);
}

/*  Review Card Right Side */
div.review_rigt_part {
    float: right;
    width: 70%;
    padding-left: 10px;
}

div.review_rigt_part span:nth-child(1) {
    display: inline-block;
    padding-bottom: 10px;
    color: var(--secondary-color);
}

div.review_rigt_part span:nth-child(3) {
    display: inline-block;
    padding-top: 10px;
    color: var(--secondary-color);
}

div.review_rigt_part>p {
    font-family: var(--primary-font);
    font-weight: 500;
    line-height: 1.3;
}

/* Applying Spaces B/W Review Cards */
div.r_card_2 {
    margin: 0 1.5%;
}

/**********************  STYLING FOOTER SECTION   ******************************/

footer {
    background-color: var(--secondary-color);
}

div.footer_container {
    display: flow-root;
    padding: 40px 80px 20px;
}

/*  APPLYOING FLOAT --> PROPERTY TO EACH OF THE FOOTER COLUMN  */
div.footer_into_3 {
    float: left;
}

/* STYLING FOR FOOTER 1ST COLUMN */
div.footer_about_logo_part {
    width: 39%;
}

div.logo_box {
    background-color: var(--2nd-accent-color);
    display: flow-root;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 6px;
}

div.logo_box>img {
    float: left;
}

div.logo_box>h3 {
    float: left;
    padding: 8px 0 0 12px;
    font-family: var(--primary-font);
    font-size: var(--extrasmall-headings);
    color: white;
}

div.web_intro {
    clear: left;
    padding: 20px 0;
    color: white;
    font-family: var(--secondary-font);
}

div.web_intro>p {
    line-height: 1.5;
}

div.newsletter_info {
    padding: 10px 0 0 0;
}

div.newsletter_info>h4 {
    font-family: var(--primary-font);
    padding: 0 0 15px 0;
    font-size: var(--extrasmall-headings);
    color: var(--primary-color);
    font-weight: 600;
}

div.newsletter_info>input {
    border: none;
    outline: none;
    padding: 10px 15px;
    background-color: transparent;
    border-left: 2px solid var(--primary-color);
    border-top: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: var(--body-text);
    color: var(--primary-color);
    font-weight: bolder;
}

div.newsletter_info>input:valid {
    background-color: greenyellow;
    color: var(--2nd-accent-color);
}

::placeholder {
    color: var(--primary-color);
    font-weight: bold;
}

div.newsletter_info>button {
    border: none;
    outline: none;
    padding: 10px 15px;
    background-color: var(--2nd-accent-color);
    border: 2px solid var(--primary-color);
    margin-left: -4px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: var(--body-text);
    cursor: pointer;
}

div.newsletter_info>button>span {
    padding-left: 7px;
}

/* STYLING FOR 2ND COLUMN */
div.contact_info_section {
    width: 29%;
    padding: 60px 0 60px 80px;
    /*    border: 2px solid wheat;*/
}

div.contact_box>h3 {
    font-family: var(--secondary-font);
    color: whitesmoke;
    font-family: var(--primary-font);
    padding: 15px 0 15px 0;
}

[class*="c_box"] {
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid var(--primary-color);
    font-family: var(--primary-font);
    border-radius: 5px;
}

/* Applying HOVER EFFECT */
[class*="c_box"]:hover {
    background-color: var(--2nd-accent-color);
}

[class*="c_box"] span:nth-child(1) {
    font-size: var(--small-text);
    color: var(--primary-color);
    font-weight: bold;
}

[class*="c_box"] span:nth-child(2) {
    font-size: var(--body-text);
    color: whitesmoke;
    padding-left: 10px;
}


/* STYLING FOR 3RD COLUMN */
div.inportant_pages_links {
    width: 29%;
    padding: 60px 0 60px 60px;
}

div.inportant_pages_links>h3 {
    padding: 15px 0 10px 0;
    font-family: var(--primary-font);
    color: whitesmoke;
}

div.row_1 {
    padding: 10px 0 15px 0;
}

div.row_2 {
    padding-bottom: 30px;
}

div.page_links>div.page_button {
    display: inline-block;
    padding: 15px;
    border-radius: 5px;
    border: 2px solid var(--primary-color);
    background: var(--2nd-accent-color);
    cursor: pointer;
}

div.page_button>a {
    text-decoration: none;
    color: white;
    font-family: var(--primary-font);
    font-size: var(--small-text);
    font-weight: bold;
    padding: 0 10px 0 0;
}

div.page_button>span>i {
    font-size: 16px;
    color: white;
}

/* STYLING SOCIAL MEDIA ICONS ROW */
div.social_media_icons {
    padding: 20px 0;
}

div.social_media_icons>h3 {
    font-family: var(--primary-font);
    color: whitesmoke;
    padding-bottom: 20px;
}

div.icons_row {
    padding: 10px 0;
}

div.icons_row>span>i {
    font-size: 30px;
    color: var(--primary-color);
}

div.icons_row>span>i:hover {
    color: var(--facebook-color);
}

div.icons_row>span {
    padding-right: 40px;
}

/* COPYRIGHT SECTION  */
div.copyright_text {
    text-align: center;
    padding: 20px 0;
}

div.copyright_text>p {
    color: var(--primary-color);
    font-size: var(--body-text);
    font-family: var(--primary-font);
}

div.copyright_text>p>span {
    font-weight: bolder;
    color: var(--impt-color);
}

/************   APPLYING MEDIA QUIRIES   ******************/
/* applying media query for size below 1350px  */
@media only screen and (max-width: 1350px) {
    header nav {
        padding: 14px 0 14px 150px;
    }

    /* ADJUSTING FOR REVIEW CARDS */
    div.review_left_part {
        float: none;
        width: 100%;
        text-align: center;
        padding: 0 0 10px;
    }

    div.review_left_part>p {
        display: block;
    }

    div.review_rigt_part {
        float: none;
        width: 100%;
        text-align: center;
        padding: 10px 0 0 10px;
    }

    /* ADJUSTING FOR FOOTER SECTION */
    div.contact_info_section,
    div.inportant_pages_links {
        padding: 60px 0 60px 30px;
    }

    [class^="c_"] {
        padding: 15px 15px;
    }

    /* ADJUSTING SOCIAL MEDIA ICONS */
    div.icons_row span {
        padding-right: 20px;
    }

    div.icons_row span>i {
        font-size: 25px;
    }
}

/* APPLYINF STYLE FOR SIZE UNDER 1270PX */

@media only screen and (max-width:1270px) {
    div.number_of_card {
        padding: 120px 0 30px 0;
    }

    div.location_part {
        font-size: 14px;
    }
}

/* applying media query for size below 1150px  */

@media only screen and (max-width: 1150px) {


    /*  applying style for logo  */
    div.logo>h2 {
        font-size: var(--extrasmall-headings);
        padding-top: 7px;
    }

    /* stylinf navbar for this size */
    header nav {
        padding: 14px 0 14px 50px;
    }

    header nav>ul>li {
        font-size: var(--small-text);
    }

    /* styling for donate button in navbar */
    div.donate_btn>span {
        font-size: var(--small-text);
    }

    /*  styling for HERO text area  */
    div.hero_text_area>h1 {
        font-size: var(--sub-heading);
    }

    /* STYLINF FOR EVETS SECTION */
    div.number_of_card {
        padding: 100px 0 30px 0;
    }

    /* MODIFIYING EVEENTS CARD WIDTH */
    div.cards {
        width: 48.5%;
    }

    div.card_3 {
        margin-top: 15px;
    }

    /*  MODIFIYING FOOTER  */
    div.footer_into_3 {
        width: 50%;
    }

    div.contact_info_section {
        padding: 60px 0 60px 80px
    }

    div.inportant_pages_links {
        float: none;
        clear: both;
        padding: 60px 0 60px 0;
    }
}

/* applying media query for size below 1108  */
@media only screen and (max-width:1108px) {
    main {
        margin: 0 60px;
    }

    h1.testimonial_title {
        font-size: var(--sub-heading);
    }

    div.testimonial_quotation>h2 {
        font-size: var(--small-headings);
    }

    div.testimonial_quotation>span:nth-child(3) {
        margin-left: 400px;
    }

    /*  MODIFYING FOOTER   */
    div.footer_container {
        padding: 40px 60px 20px;
    }
}

/* APPLYINF STYLE FOR SIZE UNDER 1010PX  */
@media only screen and (max-width:1010px) {

    div.card_2 {
        margin: 0 0 0 1.5%;
    }

    div.testimonial_image_right_part {
        text-align: right;
    }

    /* APPLYING STYLE FOR REVIEW CARD */
    div.review_card {
        width: 48.5%;
    }

    div.r_card_3 {
        margin-top: 10px;
    }
}

/* APPLYING STYLE FOR SIZE UNDER 900PX */
@media only screen and (max-width: 900px) {
    div.testimonial_quotation span:nth-child(3) {
        margin-left: 220px;
    }

    div.testimonial_image_right_part {
        text-align: center;
        padding-top: 70px;
    }

    /*  FOOTER MODIFYING  */
    div.newsletter_info input[type="email"] {
        width: 50%;
    }
}

/* APPLYING MEDIA QUERY FOR SIZE UNDER 835PX */
@media only screen and (max-width: 886px) {

    header>nav {
        padding-left: 30px;
    }

    div.donate_btn {
        padding: 13px 0 0;
    }

    div.location_part {
        font-size: var(--small-text);
    }
}

div.mobile_nav div.nav_links {
    display: none;
}

/* APPLYING DOUBEL MEDIA QUERIES  */
@media only screen and (min-width: 802px) {

    div.mobile_nav label,
    div.mobile_nav input[type="checkbox"] {
        display: none;
    }
}

/* SIZES FOR BELOW 801PX */
@media only screen and (max-width: 801px) {

    /*  MAIN MODIFICATION */
    main {
        margin: 0 20px;
    }

    header>nav {
        display: none;
    }

    div.donate_btn {
        float: none;
        clear: both;
        margin-left: 30%;
        display: inline-block;
    }

    /*   MOBILE NAV MODIFICATION */
    /*div.mobile_nav label,
    div.mobile_nav input[type="checkbox"]{
      display: block;
    }*/
    div.mobile_nav input[type="checkbox"]:checked~div.nav_links {
        display: block;
        right: 0px;
    }

    /*  FOOTER MODIFICATION  */

    div.footer_container {
        padding: 40px 20px 20px;
    }

}

/* APPLYING STYLES FOR SIZES BELOW 760PX */
@media only screen and (max-width:760px) {
    div.footer_into_3 {
        float: none;
        width: 100%;
    }

    div.contact_info_section,
    div.inportant_pages_links {
        padding: 30px 0;
    }
}

/*div.location_part>span {}*/
/*div.location_part>span>i {
    padding: 10px;
    color: var(--secondary-color);
}

div.location_part  p{
  display: inline-block;
}  */
/* applying clearfix to LOCATION PART of the card */



/* testing media query  */
/*@media only screen and (max-width: 1070px) {
    div.hero_text_area>h1 {
        font-size: var(--sub-heading);
    }
}

@media only screen and (max-width: 1070px) {
    div.hero_text_area {
        float: none;
        width: 100%;
        text-align:center;
    }
}*/